{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

	{% image self.banner_image fill-1200x300 as banner %}

	<img src="{{ banner.url }}" alt="{{ banner.alt }}" style="width: 100%; height: auto;">

	<div class="container mt-5 mb-5">
		<div class="text-center">
			<h1>
				{% if self.custom_title %}
					{{ self.custom_title }}
				{% else %}
					{{ self.title }}
				{% endif %}
			</h1>

			{

		</div>
		<h4>
				<ul>
					{% for item in self.blog_authors.all %}
						{% image item.author.image fill-50x50 as img %}
					<li>
						<img src="{{ img.url }}" alt="{{ item.author.name }}">

						{{ item.author.name }}

						{% if item.author.website %}
							<a href="{{ item.author.website }}">(website)</a>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</h4>
	</div>

	<h2>Cathegories</h2>
	<ul>
		{% for cat in self.cathegories.all %}

		<li>
			<a href="{{ self.get_parent.url }}?cathegory={{ cat.slug }}">{{ cat.slug }}</a>
			{{ cat.name }}
		</li>
		{% endfor %}
	</ul>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ self.youtube_video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<div class="conteiner">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">

				{% for block in page.content %}
					{% include_block block %}
				{% endfor %}

			</div>
		</div>
	</div>
	



{% endblock content %}

